body {
    background-color: #00FA9A;
    margin: 0;
}

html, body {
    height: 100%;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    /*border: 2px solid black;*/
    opacity: 0.5;
    background-color: black;
    height: 200px;
    display: flex;
}

.quote-author {
    align-self: right;
    z-index: 1;
}

.quote-text {
    z-index: 1;
}

.new-quote {
    background-color: #red; 
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    z-index: 1;
    margin-top: auto;
    align-self: right;
    margin-bottom: 8px;
    margin-right: 8px;
}